<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="<?php echo base_url();?>/assets/css/menu.css">

</head>

<body>

<div id="main_nav" class="whole center white">
    <div class="quarter al" style="" onclick="">
      <div class="main_nav_num">
        <img class="kirks_mob_onmouseout" src="imagenes/1.png" onmouseover="this.src='imagenes/3_1.png';" onmouseout="this.src='imagenes/1.png';" alt="">
      </div>
      <div class="main_nav_txt">
        <p class="large nomargin">Lectura</p>
        <p class="small nomargin">% leen libros</p>
      </div>

    </div>
    <div class="quarter al" style=""><!-- onclick="window.location.href='https://capacitateparaelempleo.org/pages.php?r=.registro';" -->
      <div class="main_nav_num">
        <img class="kirks_mob_onmouseout" src="imagenes/2.png" onmouseover="this.src='imagenes/2_1.png';" onmouseout="this.src='imagenes/2.png';" alt="">
      </div>
      <div class="main_nav_txt">
        
      <p class="large nomargin">Escritura</p>
      <p class="small nomargin">% libros escritos</p>
  
      </div>
    </div>
    <div class="quarter al" style="" id="tile_cursos">
      <div class="main_nav_num">
        <img class="kirks_mob_onmouseout" src="imagenes/3.png" onmouseover="this.src='imagenes/bbtk_opt2.png';" onmouseout="this.src='imagenes/3.png';" alt="">
      </div>
      <div class="main_nav_txt">
        <p class="large nomargin">Bibliotecas</p>
        <p class="small nomargin">74% No las visitan</p>
      </div>
    </div>

    
<div class="quarter al" style="">
  <div class="main_nav_num">
    <img class="kirks_mob_onmouseout" src="imagenes/4.png" onmouseover="this.src='imagenes/nino2.png';" onmouseout="this.src='imagenes/4.png';" alt="">
  </div>
  <div class="main_nav_txt">
    <p class="large nomargin">Cero a cuatro</p>
    <p class="small nomargin">% les leen</p>
  </div>
</div>

  </div>  


</body>
</html>

<!-- 
Colores de menú
background:#f49716;
background:#169979;
background:#f06847;
background:#14ab9f; -->