<!DOCTYPE html>
<html>

<body>

<div id="main_nav" class="whole center white">
    <div class="quarter al" style="background:#f49716;" onclick="fancyme('iframe','https://capacitateparaelempleo.org/pages.php?r=.video_intro&amp;brandID=capacitate');">
      <div class="main_nav_num">
        <img class="kirks_mob_onmouseout" src="https://cdn3.capacitateparaelempleo.org/media/1504/1.png" onmouseover="this.src='https://cdn3.capacitateparaelempleo.org/media/1504/3_1.png';" onmouseout="this.src='https://cdn3.capacitateparaelempleo.org/media/1504/1.png';" alt="">
      </div>
      <div class="main_nav_txt">
        <p class="large nomargin">Lectura</p>
        <p class="small nomargin">% leen libros</p>
      </div>

    </div>
    <div class="quarter al" style="background:#169979;" onclick="window.location.href='https://capacitateparaelempleo.org/pages.php?r=.registro';">
      <div class="main_nav_num">
        <img class="kirks_mob_onmouseout" src="https://cdn3.capacitateparaelempleo.org/media/1504/2.png" onmouseover="this.src='https://cdn3.capacitateparaelempleo.org/media/1504/2_1.png';" onmouseout="this.src='https://cdn3.capacitateparaelempleo.org/media/1504/2.png';" alt="">
      </div>
      <div class="main_nav_txt">
        
      <p class="large nomargin">Escritura</p>
      <p class="small nomargin">% libros escritos</p>
  
      </div>
    </div>
    <div class="quarter al" style="background:#f06847;" id="tile_cursos">
      <div class="main_nav_num">
        <img class="kirks_mob_onmouseout" src="https://cdn3.capacitateparaelempleo.org/media/1504/3.png" onmouseover="this.src='D:/xampp/htdocs/repenlec/imagenes/bbtk_opt2.png';" onmouseout="this.src='https://cdn3.capacitateparaelempleo.org/media/1504/3.png';" alt="">
      </div>
      <div class="main_nav_txt">
        <p class="large nomargin">Bibliotecas</p>
        <p class="small nomargin">74% No las visitan</p>
      </div>
    </div>

    
<div class="quarter al" style="background:#14ab9f;" onclick="window.location.href='https://capacitateparaelempleo.org/empleo';">
  <div class="main_nav_num">
    <img class="kirks_mob_onmouseout" src="https://cdn3.capacitateparaelempleo.org/media/1504/4.png" onmouseover="this.src='D:/xampp/htdocs/repenlec/imagenes/nino2.png';" onmouseout="this.src='https://cdn3.capacitateparaelempleo.org/media/1504/4.png';" alt="">
  </div>
  <div class="main_nav_txt">
    <p class="large nomargin">Cero a cuatro</p>
    <p class="small nomargin">% les leen</p>
  </div>
</div>

  </div>  



</body>
</html>